:root{
  --primary-bg: #395B64;
  --sec-bg: #293f45;
  --primary-btn-bg: #A5C9CA;
  --danger-btn-bg: #c72a2a;
  --black: #151414;
  --white: #ecebeb;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
}

#subjectSelect{
  padding: 12px;
  padding-right: 20px;
  margin: 2%;
  border-radius: 10px;
  width: 100px;
  max-width: 300px;
  font-size: 16px;
  /* justify-content: flex-end; */

}

button {
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 10%;
  cursor: pointer;
}

button:disabled {
  background-color: var(--white);
  cursor: not-allowed;
}

.btn-warning{
  background-color: var(--danger-btn-bg);
  color: #fcfcfc;
}

.App {
  min-height: 100vh;
  background-color: var(--primary-bg);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input.urlinput[type="text"] {
  width: 80%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.initial-message {
  padding: 6px;
  color: #666;
  text-align: center;
  margin: 2px;
}

input[type="button"] {
  padding: 14px;
  width: 150px;
  margin: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  flex-grow: 1;
  padding: 10px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 300px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

label{
  padding: 12px;
}

.btn-primary {
  background-color: #135ba0;
  color: #fff;
}

.chat-message .btn-primary {
  background-color: #404040;
  color: #fff;
  border-color: #ccc;
  border-radius: 2px;
}

.btn-primary:hover {
  background-color: #0D3B66;
}

.btn-secondary {
  background-color: #d13444;
  color: white;
}

.btn-secondary:hover {
  background-color: #8C2F39;
}

.card-title{
  text-align: center;
}

#error-div{
  background-color: #fadddd;
  border-radius: 8px;
  color: #d13444;
  padding: 4px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

.document-card {
  background-color: #e3e3e3;
  padding: 2%;
  min-width: 200px;
  max-width: 20;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: small;
  margin: 10px;
}

.header-bar{
  position: sticky;
  top: 0;
  padding: 0px 3% 0px 3%;
  background-color: var(--sec-bg);
  color: var(--white);
  text-align: center;
  font-size: 20px;
  font-family: 'Garamond', Times, serif;
  display: flex;
  align-items: center;
}

.interface{
  align-items: top;
}

.container{  
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;}


  .doc-card-body{
    display: flex;
  }